* {
    margin: 0;
    font-family: Arial, serif;
}

.container {
    background-color: white;
    padding: 1em;
}

p {
    padding: 1em;
}

.quiz-container {
    padding: 2em 1em;
}

.question-container {
    padding: 2em 0;
}

.images-container {
    display: flex;
    padding: 2em;
    flex-direction: row;
    gap: 2em;
}

.image-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid #bebebe;
    transition: transform 1s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.result-container {
    padding: 1em 0;
}

#results-table {
    display: none;
}

.result-image {
    height: 250px;
    width: 250px;
}

.result-original-image {
    height: 300px;
    width: 300px;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
}

.result-original-image:hover {
    -webkit-filter: initial;
    filter: initial;
}

.correct-row {
    /*background-color: #e9ffe9;*/
}

.incorrect-row {
    background-color: #ffeeee;
}
