:root {
    --primary: #ff6d00;
    --secondary: #3c096c;
}

* {
    margin: 0;
    font-family: Arial, serif;
}

body {
    background-color: #5b5b5b;
}

.container {
    background-color: white;
    padding: 1em;
}

p {
    padding: 1em;
}

.quiz-container {
    padding: 2em 1em;
}

.question-container {
    padding: 2em 0;
}

.images-container {
    display: flex;
    padding: 2em;
    flex-direction: row;
    gap: 2em;
}

.image-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid #bebebe;
    transition: transform 1s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}
