* {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
    background: var(--background-color);
}

.wrapper {
    font-size: 1.4rem;
}

h1 {
    font-size: 3.2rem;
}

#navigation {
    height: 3em;
    background-color: var(--accent);
}
